<div class="container">
<h2><%= @micropost.content %></h2>
 <img> <center><%= image_tag @micropost.picture.url, class: "img-rounded" if @micropost.picture? %></center> </img>
  <% @micropost.comments.each do |comment| %>
	
      <div class= "panel-title">
        <h4><b><%=  comment.user.name+ ':'%></b> <%= comment.content %></h4>
        
      </div>
    
    
    <% end %>
</div>
<% if !current_user.nil? %>

<%= form_for(Comment.new) do |f| %>
	<input type="hidden" name="id" value="<%= @micropost.id %>">
	<div class="form-group">
	  <%= f.text_area :content, class: "form-control",  placeholder: "Compose new comment...", rows: "5"  %>
	  </div>
	<%= f.submit "Comment", class: "btn btn-primary pull-right" %>
<% end %>
<% end %>